body {
    background-color: rgb(241, 128, 128);
    color: azure;
    margin: auto 0;
}

header{
    margin-top: 10px;
    padding: 20px;    
}

h1,h2 {
    color: red;
    text-align: center;            
}

h1 {
    text-transform: uppercase;
}

p {
    text-align: justify;                

}   

main {
    margin: auto 20%;
    height: 80vh;
    
}

.destaque {
    background-color: brown;            
    padding: 20px;
    margin-bottom: 20px;
}

#img-logo {            
    width: 50px;            
}

nav {
    float: right;
    
}

nav li {
    display: inline;
    margin-left: 20px;
    color: #b61a1a;
    font-weight: bold;
    border: 2px solid #b61a1a; 
}

footer {
    background-color: #7e3c3c;
    padding: 20px;
    width: 100%;    
}

footer p{ 
    text-align: center;
}