* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    border: #ff0000 dashed 5px;
    margin: 30px 0 30px 0;
    text-align: center;
    padding: 30px;
}


#cifrao {
    color: blue;
}

footer {
    background-color: darkgrey;
    color: white;
    padding: 20px;    
}

.produto-item{
    color: red;
    font-weight: bold;
}